.activities {
    padding-top:0;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__description {
        background-color: rgba(47, 48, 58, 0.8);
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}





