.advantages {

    &__title--visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    
      
    &__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }

    &__text {
        line-height: 1.71;
        color: $light-grey;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

    }

    &__icon-bgc {
        background-color: $beige-2;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        fill: var(--main-grey)
        
        }

}

@media screen and (min-width: 768px) {
    .advantages li {
        width: calc((95% - 30px) / 2);
    }

    .advantages__subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
.advantages {

    &__list {

        flex-wrap: nowrap;

    }

    &__icon-bgc {
        background-color: $beige-2;
        width: 270px;;
        }
}
}









