
.team {
    background-color: $beige-2;

        &__personal-data {
            padding: 30px 0;
        }

        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            text-align: center;
            margin-bottom: 10px;
        }

        &__position {
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: $light-grey;
            text-align: center;
        }
        
        &__list {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
        }

        &__item-box {
            background-color: $white;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
           
        }
    
}

.sm-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;

    &__icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #AFB1B8;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, 
        &:focus, 
        &:active {
        fill: $white;
        background-color: $blue;
        }

    }
    
}


@media screen and (min-width: 768px) {
    .team {
        &__item-box {
    width: calc((95% - 30px) / 2);
        }
    }
}


@media screen and (min-width: 1200px) {

.team {
    background-color: $beige-2;

        &__list {
            display: flex;
            gap: 30px;
            flex-wrap: nowrap;
        }

        &__item-box {
            width: 270px;
        }
}
}



