
@media screen and (max-width: 1199px) {
    .modal {
        width: 95%;
        max-width: 450px;
        height: 95%;
        max-height: 609px;
        overflow: scroll;
    }

    .custom-checkbox {
        margin-bottom: 40px;
    }

  }

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0);
    }

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: transform, opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.modal {
    position: relative;
    background-color: $white;
    transform: scale(1);
    padding: 40px;

    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;;
        background-color: $white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: $main-grey;
        margin-bottom: 12px;
    }
    
    
    }

.form {

    &__label {
        font-size: 12px;
        line-height: 1.17;
        color: $light-grey;
        margin-bottom: 20px;
        display: block;
    }

    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        position: relative;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 42px;
        margin-top: 4px;

        
        &:focus {
            border-color: $blue;
            outline: 0;
        }
    }

    &__box {
        position: relative;
       
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        fill: $main-grey;
    }

    &__textarea {
        width: 100%;
        height: 120px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 12px 0 0 16px;
        margin-top: 4px;


        
        &:focus {
            border-color: $blue;
            outline: 0;
        }
    }
    
    &__send-button {
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: $blue;
        color: white ;
        margin: 0 auto;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
    }

}




.form__input + .form__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
    fill: $blue;
}



.custom-checkbox {
    position: relative;
    display: flex;
    align-items: baseline;
    // margin-bottom: 30px;

    input[type=checkbox] {
        background-color: $white;
        appearance: none;
        border: 2px solid $main-grey;
        width: 16px;
        height: 15px;
        border-radius: 2px;
    }
    
    input[type=checkbox]:checked + .custom-checkbox__icon {
        opacity: 1;
    } 
    

    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: $main-grey;
        display: inline-block;
        position: absolute;
        left: 24px;
        line-height: 16px;

        &--blue {
            color: $blue;
            text-decoration: underline;
        }
    }

    &__icon {
        fill: white;
        background-color: $blue;
        border-radius: 2px;
        position: absolute;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px; 
    }

    .custom-checkbox {
        margin-bottom: 30px;
    }

}






