.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    padding-bottom: 50px;

    &__button {
        background: $beige-2;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 1.62;
        text-align: center;
        padding: 6px 25px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover, &:focus {
            color: $white;
            background-color: $blue;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
    }
    
}


.portfolio {
    padding-top: 0;

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        margin: 0;
    }
    
    &__type {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: $light-grey;
        margin-top: 4px;
    }
    
    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__link {
        position: relative;
        display: block;
        text-decoration: none;
        color: inherit;
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

            &:hover,
            &:focus {
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;

            }
    }

    &__text {
        border: 1px solid $beige-1;
        border-top: none;
        padding: 20px 24px;
    }
    
    &__box {
        position: relative;
        overflow: hidden;
    }
    
    &__overlay {
        position: absolute;
        top: 0;
        left: 0; 
        width: 370px;
        height: 294px;
        background: rgba(33, 150, 243, 0.9);
        transform: translateY(150%);
        transition: transform 250ms ease;

        > p {
            color: $white;
            font-weight: 400px;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.03em;
            padding: 49px 45px 49px 24px;
        
        }
    }
}



.portfolio__link:hover .portfolio__overlay, 
.portfolio__link:focus .portfolio__overlay {
    transform: translateY(0);
}

@media screen and (min-width:1200px) {
    .filter {
        flex-wrap: no-wrap;
        justify-content: center;
    }
}


@media screen and (min-width: 768px) {
.portfolio__link {
    flex-basis: calc((100% - 30px) / 2);
}
}