/* colors  */

$main-grey: #212121; 
$white: #FFFFFF; 
$light-grey: #757575;
$blue: #2196F3;
$beige-1: #EEEEEE;
$black: #000000;
$beige-2: #F5F4FA;
$dark-grey: #2F303A;
$beige-3: #ECECEC;


/* colors end */